/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid #000 !important; */
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}

a,
input,
textarea,
select,
button {
  color: inherit; 
  font: inherit; 
  letter-spacing: inherit; 
}

input,
textarea,
button {
  border: 1px solid #ccc; 
}

embed,
iframe,
img,
object,
video {
  display: block;
  max-width: 100%;
}

/* GLOBAL CSS */
html{
    /* font-size: 1.25em; */
    font-family: Arial, Helvetica, sans-serif;
    --header-height: 3rem;
    scroll-behavior: smooth;
}

.text-white{
    color: #fff !important;
}

.button-style {
    padding: 0.5em 1em;
    background-color: #000;
    color: #fff;
}

.input-style {
    width: 100%;
    display: block;
    padding: 0.5em;
}

.hover-button:hover{
    background-color: #ccc !important;
    color: #000 !important;
    cursor: pointer !important;
}

.hover-effect:hover{
    opacity: 0.6 !important;
    cursor: pointer !important;
}

.row-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column-flex-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECTION header */
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    align-items: flex-start;
    background-color: #000;
}

/* header/ nav*/
#nav{
    display: block;
}

#nav > li{
    display: inline-block;
    position: relative;

    height: var(--header-height);

    color: #fff;
    background-color: #000;
}

#nav > li > a{
    display: block;
    padding: 0 1.5em;
    
    line-height: var(--header-height);
    text-transform: uppercase;
}

#nav .subnav{
    display: none;
    position: absolute;
    top: var(--header-height);
    left: 0;

    box-shadow: 0 0 0.5em rgba(0,0,0,0.3);
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav > li{
    min-width: 10em;
    --subnav-height: calc(var(--header-height) - 0.5em);
    height: var(--subnav-height);
    

    color: #000;
    background-color: #fff;
}

#nav .subnav > li > a{
    display: block;
    padding: 0 0.75em;
    line-height: var(--subnav-height);
}

/* header/ mobile-menu-btn, search-btn */
#header .mobile-menu-btn,
#header .search-btn{
    position: absolute;
    top: 0;
    right: 0;
    height: var(--header-height);
    padding: 0 1.5em;
    
    color: #fff;
}

#header .mobile-menu-btn{
    display: none;
}

/* SECTION slider */
#slider{
    margin-top: var(--header-height);
    position: relative;

    width: 100%;
    padding-top: 50%;

    background: url("/assets/img/slider1.jpg") top center/cover no-repeat;
}

#slider .text-content{
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);    

    color: #fff;
    text-align: center;
}

#slider .text-heading{
    font-weight: 500;
    padding: 0.5em 0;
} 

#slider .text-description{
    font-weight: 500;
    padding: 1em 0;
}


/* SECTION container */
#content .content-section{
    margin: 0 24vw;
    padding: 4rem 0;
}

#content .section-heading{
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.25em;
}

#content .section-sub-heading{
    text-align: center;
    margin: 1.5em 0 ;
    font-style: italic;
    opacity: 0.6;
}

/* content/ about */
#content .about-text{
    margin: 1.5em 0;
    text-align: justify;
    line-height: 1.4;
}

#content .about-member{
    margin: 2rem 0;
}

#content .member-item{
    width: calc(100% / 4);
    align-items: center;
}

#content .member-img{
    border-radius: 4px;
}

#content .member-name{
    margin: 0.5em 0;
}

/* content/ tour */
#content .black-background{
    background-color: #000 ;
}

/* content/ tour/ dates */
#content .ticket-dates{
    background-color: #fff;
    margin: 2rem 0;
}

.ticket-dates .dates-items {
    
    padding: 0.75em 1em;

    color: #757575;
    
    border-bottom: 1px solid #ddd;
}

.ticket-dates .sold-out {
    background-color: #f44336;
    padding: 0.25em;
    color: #fff;
    margin-left: 1em;
}

.ticket-dates .quantity {
    float: right;
    width: 1.5em;
    height: 1.5em;
    margin-top: -0.25em;

    background-color: #000;
    color: #fff;

    text-align: center;
    line-height: 1.5em;
    border-radius: 50%;
}
/* content/ tour/ places */
#content .ticket-places{
    margin: 2rem 0;
}

.ticket-places .place-item{
    width: calc(100% / 4 + 2em);
}

.ticket-places .place-img{
    width: 100%;
    display: block;
}

.ticket-places .place-content{
    background-color: #fff;
    padding: 1em;
    row-gap: 1em;
}

.ticket-places .place-dates{
    color: #757575;
}

.ticket-places .place-text{
    line-height: 1.4;
}

/* content/ tour/ buy modal */
.modal-overlay.open{
    display: flex;
}

.modal-overlay {
    position: fixed;
    display: none;

    top: var(--header-height);
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(0,0,0,0.3);
}

.modal-container{
    width: 50em;
    max-width: calc(100%-2rem);
    margin: 0 4vw;
    
    background-color: #fff;

    animation: modal-fade-in ease 0.5s;
}

.modal-header {
    background-color: #009688;

    position: relative;

    width: 100%;
    min-height: 8em;

    color: #fff;
}

.modal-close {
    position: absolute;
    top: 0px;
    right: 0px;

    font-size: 1em;
    padding: 1em;
}

.modal-heading {
    column-gap: 0.5em;

    font-size: 2em;
}

.modal-content {
    padding: 2rem 1rem;

    width: 100%;
    min-height: 20em;

    row-gap: 1rem;
}

.modal-field {
    row-gap: 0.5em;
    width: 100%;
}

.modal-label {
    display: block;
}

.modal-button {
    background-color: #009688;
    border: none;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    padding: 1em;    
}

.modal-footer {
    padding: 1rem;
    width: 100%;
    text-align: right;
}

.modal-footer > a{
    color: #009688;
}

/* content/ contact */
.contact-content {
    margin: 2rem 0;
    align-items: flex-start;
}

.contact-band {
    font-size: 1.25em;
    font-weight: 500;
    width: 50%;
    row-gap: 0.5rem;
}

.contact-fan {
    width: 50%;
    align-items: flex-end;
    row-gap: 0.5rem;
}

.contact-fan .fan-name-email {
    width: 100%;
    column-gap: 1rem;
}
/* content/ map */
.map-section img{
    width: 100%;
}

/* SECTION footer */
#footer{
    margin: 4rem 2rem;
    align-items: center;
    row-gap: 1rem   ;
}

#footer .social-lists > a{
    font-size: 1.25em;
    color: #000;
}

#footer .copy-right > a{
    color: #000;
}

/* SECTION animation */
@keyframes modal-fade-in {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}