* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    /* font-size: 62.5%; */
    font-family: Arial, Helvetica, sans-serif;
    --header-height: 46.5px;
}

/* SECTION main */
#main{
    height: 1000px;
}

/* SECTION header */
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    height: var(--header-height);

    background-color: #000;
}

/* header/ nav/ subnav */
#nav{
    display: inline-block;
}

#nav .subnav{
    display: none;
    position: absolute;
    top: var(--header-height);
    left: 0;

    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#header .search-btn{
    float: right;
    display: block;
}

/* header/ list-items */
#nav li{
    display: inline-block;
    position: relative;

    height: var(--header-height);

    list-style-type: none;
}

#nav .subnav > li{
    min-width: 160px;
    --subnav-height: calc(var(--header-height) - 8px);
    height: var(--subnav-height);
    background-color: #fff;
}

/* header/ anchor */
#nav > li > a{
    display: inline-block;
    padding: 0px 24px;

    color: #fff;

    line-height: var(--header-height);
    text-decoration: none;
    text-transform: uppercase;
}

#nav .subnav >li > a{
    display: block;
    padding: 0px 12px;

    color: #000;

    line-height: var(--subnav-height);
    text-decoration: none;
}

#header .ti-search{
    display: block;
    padding: 0 23px;

    color: #fff;

    line-height: var(--header-height);
}

/* header/ hover */
#nav li:hover > a{
    background-color: #ccc;
    color: #000;
}

#nav li:hover .subnav{
    display: block;
}

#header .search-btn:hover .ti-search{
    background-color: #F44335;
    cursor: pointer;
}

/* SECTION slider */
#slider{
    margin-top: var(--header-height);
    position: relative;

    width: 100%;
    padding-top: 50%;

    background: url("/assets/img/slider1.jpg") top center/cover no-repeat;
}

#slider .text-content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);    

    color: #fff;
    padding: 32px 16px;
    text-align: center;
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    padding: 10px 0;
} 

#slider .text-description{
    font-weight: bold;
    font-size: 15px;
    padding: 15px 0;
}


/* SECTION container */
#content{
    
}

#content .content-section{
    width: 800px;
    margin: 0 auto;
    padding: 64px 0;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500px;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin: 25px 0px ;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text{
    margin: 25px 0px;
    text-align: justify;
    line-height: 1.4;
}

#content .about-member{
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 32px 0;
}

#content .member-img{
    width: 152px;
    border-radius: 4px;
    
}

#content .member-name{
    margin: 15px 0;

    text-align: center;
}

/* SECTION footer */
#footer{

}

